<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles.css">

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <h1>Formulario Teste</h1>

            <form action="" method="POST">

                <div class="form-group">
                    <label for="Nome">Nome:</label>
                    <input class="form-control" type="text" name="nome" id="nome">
                </div>
                <br>

                <div class="form-group">
                    <label for="Idade">Idade:</label>
                    <input class="form-control" type="number" name="idade" id="idade">
                </div>
                <br>

                <div class="form-group">
                    <label for="Time">Time:</label>
                    <input class="form-control" type="text" name="time" id="time">
                </div>
                <br>

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form> 
        </div>    
    </body>
</html>